# 1. Reading the results

We read the results from txt files into Pandas DataFrames for analysis.

In [90]:
import pandas as pd
from os import listdir
from os.path import isfile, join


# Read all results from txt files
parameter_iter_path = "./parameter_iter/"
parameter_iter_files = [f for f in listdir(parameter_iter_path) if isfile(join(parameter_iter_path, f))]

# Parameter Setting (ACO & CLu) - maximum iteration
column_names = ["Data-set", "Size", "Algorithm", "Support", "Run-time", "Memory", "Patterns", "Pattern-count", "Max-iteration", "E"]
df_piter = pd.DataFrame(columns = column_names)

for file in parameter_iter_files:
    f_path = join(parameter_iter_path,file)
    try:
        res = pd.read_csv(f_path, names=["A","B"], sep = ':', header=None, engine='python')
    except Exception:
        print(f_path)
    
    run = float(res['B'][0][0:6]) # run-time
    mem = str(res['B'][1]) # memory
    alg = str(res['B'][2]) # algorithm
    att = int(res['B'][3]) # number of attributes in the data set
    size = int(res['B'][4])  # data set size

    if alg == " GRAANK ":
        evp = 0
        mit = 0
        sup = float(res['B'][5]) # minimum support
        pat = int(res['B'][7]) # patterns
    else:
        evp = float(res['B'][5]) # evaporation-factor / erasure-probability
        mit = int(res['B'][6]) # maximum iteraction count
    
        sup = float(res['B'][7]) # minimum support
        pat = int(res['B'][9]) # patterns
    
    # Fetch patterns
    gps = [""] * pat
    gp_pos = res.loc[res['A'] == 'Pattern '].index[0] + 1 # 1st position
    for i in range(pat):
        pos = i + gp_pos
        gps[i] = [res['A'][pos], float(res['B'][pos])]
    
    col = "AQY"

    df_piter = df_piter.append({"Data-set": col, "Size": size, "Algorithm":alg, "Support": sup, "Run-time":run, "Memory":mem, "Patterns":gps, "Pattern-count":pat, "Max-iteration":mit, "E": evp}, ignore_index=True)

df_piter['Algorithm'].replace({' Clu-GRAD (v1.3)' : 'CluGRAD'}, inplace=True)
df_piter['Algorithm'].replace({' ACO-GRAANK (v4.0)' : 'ACoGRAD'}, inplace=True)

df_piter

,Data-set,Size,Algorithm,Support,Run-time,Memory,Patterns,Pattern-count,Max-iteration,E
0,AQY,1291,CluGRAD,0.5,570.800,"[176.45703125, 172.50390625, 172.96875, 172.9...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,10,0.0
1,AQY,1291,GRAANK,0.5,84.000,"[111.30859375, 111.2890625, 128.3984375, 131....","[[['12+', '2+'] , 0.532], [['14-', '2+'] , 0.5...",108,0,0.0
2,AQY,1291,ACoGRAD,0.5,1.930,"[107.6640625, 107.64453125, 126.0546875, 127....","[[['9+', '2+', '11+', '4+'] , 0.526], [['9+', ...",2,2,0.0
3,AQY,1291,ACoGRAD,0.5,7.720,"[110.6484375, 109.49609375, 127.30859375, 128...","[[['11+', '10+', '2+', '4+', '3+'] , 0.5], [['...",58,100,0.0
4,AQY,1291,CluGRAD,0.5,249.800,"[174.84765625, 174.875, 175.33984375, 175.339...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,2,0.0
5,AQY,1291,CluGRAD,0.5,385.400,"[172.02734375, 172.07421875, 172.72265625, 17...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,5,0.0
6,AQY,1291,CluGRAD,0.5,378.900,"[151.7421875, 152.03515625, 152.5703125, 152....","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,5,0.0
7,AQY,1291,CluGRAD,0.5,4028.000,"[177.85546875, 177.91796875, 178.453125, 178....","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,100,0.0
8,AQY,1291,ACoGRAD,0.5,2.262,"[107.76953125, 107.71875, 126.07421875, 127.5...","[[['13-', '10+'] , 0.516], [['14-', '6-', '11-...",10,10,0.0
9,AQY,1291,ACoGRAD,0.5,2.246,"[107.76953125, 107.71875, 126.07421875, 127.6...","[[['14-', '6-'] , 0.566], [['10+', '13-'] , 0....",9,10,0.0
10,AQY,1291,ACoGRAD,0.5,7.948,"[108.66015625, 108.609375, 126.4375, 127.8828...","[[['3+', '13-'] , 0.534], [['9+', '8-', '4+', ...",66,100,0.0
11,AQY,1291,CluGRAD,0.5,569.500,"[174.03125, 174.06640625, 174.71875, 174.7187...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,10,0.0
12,AQY,1291,ACoGRAD,0.5,2.023,"[107.7265625, 107.70703125, 126.08984375, 127...","[[['5+', '2+', '3+', '10+'] , 0.653], [['14-',...",4,5,0.0
13,AQY,1291,ACoGRAD,0.5,1.927,"[107.65625, 107.63671875, 126.046875, 127.5, ...","[[['14-', '5-', '10-', '3-'] , 0.519], [['3+',...",2,2,0.0
14,AQY,1291,GRAANK,0.5,80.340,"[110.8046875, 110.78515625, 127.89453125, 130...","[[['12+', '2+'] , 0.532], [['14-', '2+'] , 0.5...",108,0,0.0
15,AQY,1291,ACoGRAD,0.5,2.247,"[107.76171875, 107.7421875, 126.078125, 127.5...","[[['8-', '2+', '4+', '9+'] , 0.545], [['4+', '...",8,10,0.0
16,AQY,1291,CluGRAD,0.5,255.100,"[179.5859375, 179.125, 179.59375, 179.59375, ...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,2,0.0
17,AQY,1291,CluGRAD,0.5,565.800,"[168.98046875, 169.2265625, 169.76171875, 169...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,10,0.0
18,AQY,1291,ACoGRAD,0.5,1.918,"[111.6796875, 107.671875, 126.0703125, 127.60...","[[['14-', '6-', '5-', '8+'] , 0.511], [['4+', ...",2,2,0.0
19,AQY,1291,GRAANK,0.5,82.180,"[111.0625, 111.04296875, 128.15234375, 131.21...","[[['12+', '2+'] , 0.532], [['2+', '14-'] , 0.5...",108,0,0.0
20,AQY,1291,CluGRAD,0.5,368.500,"[172.0546875, 172.1015625, 174.56640625, 174....","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,5,0.0
21,AQY,1291,CluGRAD,0.5,249.800,"[147.9921875, 148.30859375, 149.02734375, 149...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,2,0.0
22,AQY,1291,ACoGRAD,0.5,2.058,"[107.69140625, 107.67578125, 126.05859375, 12...","[[['10+', '14+', '3+'] , 0.563], [['7+', '8-',...",5,5,0.0
23,AQY,1291,CluGRAD,0.5,4137.000,"[177.75, 177.8046875, 178.25, 178.25, 178.25,...","[[['3+', '5+', '6+', '8-', '10+', '11+'] , 0.7...",5,100,0.0
24,AQY,1291,ACoGRAD,0.5,2.028,"[107.69140625, 107.671875, 126.0546875, 127.6...","[[['5+', '6+', '10+', '2+', '11+'] , 0.631], [...",5,5,0.0

# 2. Parameter Setting

We conduct an analysis to determine:

* The optimum maximum-iteration for the ACO-GRAD algorithm and the optimum max-iteration for estimating score-vectors for the Clu-GRAD algorithm.

* The optimum values for evaporation-factor (ACO-GRAD) and erasure-probability (CLu-GRAD).

In [91]:
import numpy as np

algorithms = ['ACoGRAD', 'CluGRAD', 'GRAANK']
evals = [2, 5, 10, 100, 500]
eval_data = []


# Only include these columns
df_res = df_piter[["Algorithm", "Support", "Run-time", "Pattern-count", "Max-iteration", "Patterns"]]

for alg in algorithms:
    df1 = df_res.loc[df_res['Algorithm'].str.contains(alg)]
    # print(df1)
    for ev in evals:
        df2 = df1.loc[df1['Max-iteration'] == ev]
        if not df2.empty:
            # print(df2)
        
            pat_arr = []
            for index,row in df2.iterrows():
                # 10/100/1000 evaluations
                pat_arr.append(row['Patterns'])
                # print(pat_arr)

            eval_data.append([alg, df2['Pattern-count'].mean(), df2['Pattern-count'].std(), df2['Run-time'].mean(), df2['Run-time'].std()])

df_data = pd.DataFrame(data=eval_data, columns=['Algorithm', 'Patterns (mean)', 'Patterns (std)', 'Run-time (mean)', 'Run-time (std)'])
df_data

  Algorithm  Patterns (mean)  Patterns (std)  Run-time (mean)  Run-time (std)
0   ACoGRAD         2.000000        0.000000         1.925000        0.006245
1   ACoGRAD         4.666667        0.577350         2.036333        0.018930
2   ACoGRAD         9.000000        1.000000         2.251667        0.008963
3   ACoGRAD        62.000000        5.656854         7.834000        0.161220
4   CluGRAD         5.000000        0.000000       251.566667        3.059956
5   CluGRAD         5.000000        0.000000       377.600000        8.524670
6   CluGRAD         5.000000        0.000000       568.700000        2.594224
7   CluGRAD         5.000000        0.000000      4082.500000       77.074639